.card {
    min-height: 12rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.1) 1px 1px 18px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card > img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
}
.card-content {
    width: 100%;
    padding: 1.5rem 2rem;
}
.card-title {
    color: #1a374d;
}
.card-description {
    color: #7C99AC;
    margin-block: .1rem 1rem;
}
.card-product-price {
    font-weight: 600;
    margin-bottom: .8rem;
}