.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 999;
    visibility: hidden;
}
.modal {
    width: 80%;
    max-width: 35rem;
    padding: 2rem 0;
    background-color: #eef2ff;
    border-radius: 0.5rem;
    transform: translateY(-200%);
    transition: transform 500ms ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal > img {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.modal-container.is-visible {
    visibility: visible;
}
.modal-container.is-visible .modal {
    transform: translateY(0);
}

.modal > img {
    cursor: pointer;
}
